version: "3.9"
name: quarkus
services:
  mySql:
    image: "mysql:8"
    environment:
      MYSQL_DATABASE: quarkus-db
      MYSQL_USER: quarkus-user
      MYSQL_PASSWORD: quarkus-pwd
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_TCP_PORT: 3307
    ports:
      - "3307:3307"
  redis:
    image: "redis"
    ports:
      - "6379:6379"
